{% extends 'deutschstered/base.html' %}

{% block content %}
<div class="container-fluid">
    <div class="row mt-4">
        <div class="col-md-12 col-lg-4 mt-2 px-4 py-4">
            <h2 class="lead">Search for what you want </h2>
            <p>You search is not limited to only books or your current location...
            Yuo can search for houses around Wageneignen, Utretch, etc</p>
            <p> You can search for people willing to give tutorials on courses</p>
        </div>
        <div class="col-md-12 col-lg-4 mt-2 px-4 py-4">
            <h2>Contact the individual who provides the service you need</h2>
            <p>Once you find someone who provides your needed service, click interesed to contact them</p>
            <p>We allow full transparency and are militatnt against fraudulent practices so </p>
        </div>
        <div class="col-md-12 col-lg-4 mt-2 px-4 py-4">
            <h2>Enjoy and Invite friends for an exciting experience</h2>
            <p>Enjoy the free Listing and service platform provided by deutschstered</p>
            <p>Make free postings and expect it to reach thousands of students in Wageneignen and Utretch etc</p>
            <p> It's all about how you like it...</p>
        </div>
    </div>
</div>

{% endblock %}